

// font
$font-main: 'GmarketSansBold';
$font-main-m: 'GmarketSansMedium';
$font-sub: 'JSDongkang-Regular';
$font-sub-m: 'JSDongkang-Bold';
$font-basic: 'Alata';
$font-rolling: 'KOTRA_BOLD-Bold';
$font-code: 'D2Coding';
$font-size: 16px;

//color
$color-main: #FEDB01;
$color-sub1: #fff;
$color-sub2: #000;
$color-bg-sub: #F9F6F6;
$color-port-text: #fff;
$color-line: #fff;
$color-line2: #4733DB;
$color-point-main: #0EFF86;
$color-point-sub1: #FB7EA8;
$color-point-sub2: #8A7BF6;
$color-point-sub3: #1E1F26;
$color-loading: #000;

//반응형 
$breakpoint-mobile: 767px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1400px;